{% extends 'base.html' %} 
<!-- Estende il template base.html. Questo permette di utilizzare il layout e gli stili comuni definiti in base.html. -->

{% block content %}
<!-- Definisce un blocco di contenuto che può essere riempito specificamente per questa pagina. -->

<div class="container mt-5">
    <!-- Contenitore principale con una classe Bootstrap "container" per gestire il layout e "mt-5" per un margine superiore. -->
    
    <h2>Benvenuto, Admin</h2>
    <!-- Intestazione principale che dà il benvenuto all'amministratore. -->
    
    <p>Questa è l'area riservata agli amministratori.</p>
    <!-- Breve descrizione della pagina per informare che è un'area riservata agli amministratori. -->
</div>

{% endblock %}
<!-- Conclude il blocco di contenuto personalizzato per questa pagina. -->