<!-- Footer del sito -->
<footer class="footer bg-theme text-theme text-center py-4 mt-5">
    <!-- Linea orizzontale per separare il contenuto -->
    <hr class="border-theme my-4">

    <!-- Informazioni sull'indirizzo dell'hotel e contatti -->
    <p class="mb-2">Hotel Mirti - Via dei Platani, 101 - 00172 - Roma RM - Italia - Tel. +39 06 8030 8035</p>

    <!-- Informazioni sui diritti d'autore e la partita IVA dell'azienda -->
    <p class="mb-2">&copy; All Rights Reserved - HOTEL MIRTI SRL - P. IVA 17354391009</p>

    <!-- Dettagli sullo sviluppatore e la data di sviluppo -->
    <p class="mb-0">Ottobre 2024 - Sviluppato da <strong>Nicola Colle - Mat.0312201263</strong></p>
</footer>